/*****************
*****1. Header
*****2. Banner
*****3. Home
*******************/

/* 1. Header */

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header-top{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    position: relative;
    max-width: 120px;
}

.logo-link{
    display: block;
}

.logo-link img{
    display: block;
}

.header-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-info-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-item-icon{
    font-size: 30px;
}

.info-item-context{
    display: flex;
    flex-direction: column;
}

.info-item-context h3{
    font-weight: 700;
    font-size: 14px;
}

.info-item-context p{
    margin-bottom: 0;
    font-size: 13px;
}

