/*****************
*****1. Header
*****2. Banner
*****3. Home
*******************/

/* 1. Header */

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header-top{
    background-color: var(--primary-color);
    color: #fff;
}

.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header-name{
    font-size: 14px;
    font-weight: 400;
}

.header-logo{
    position: relative;
    max-width: 150px;
}

.logo-link{
    display: block;
}

.logo-link img{
    display: block;
}

.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-info{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding: 12px 0;
}

.header-info-item{
    display: flex;
    align-items: center;
    position: relative;
    gap: 6px;
}

.header-info .header-info-item:first-child::after{
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: rgba(255, 255, 255, .3);
}

.info-item-icon{
    font-size: 18px;
}

.info-item-context{
    display: flex;
    flex-direction: column;
}


.info-item-context h3{
    font-weight: 400;
    font-size: 15px;
}

.info-item-context p{
    margin-bottom: 0;
    font-size: 14px;
}

.header-menu{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.navigation{
    display: flex;
    align-items: center;
}

.nav-item{
    position: relative;
}

.nav-link{
    padding: 20px 10px;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
}


.header-action{
    display: flex;
    align-items: center;
}

.header-search-btn{
    width: 59px;
    height: 59px;
    background: transparent;
    font-size: 20px;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}
